.ContainerCreateAcount {
    backdrop-filter: blur(7px) saturate(0%);
    -webkit-backdrop-filter: blur(13px) saturate(0%);
    background-color: rgba(255, 185, 100, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.CreateAcountHeader1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.WebsiteNameCreateAcount {
    font-size: 17px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Username_Email_Password_ConfirmPassword_Country {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.labelInputCreateAcount {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.CreateAcountUsername,
.CreateAcountEmail,
.CreateAcountPassword,
.ConfirmPasswordCreateAcount,
.allCountryCreateAcount {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.buttonSignUpCreateAccount {
    background-color: #a45a00;
    width: 60%;
    align-self: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.buttonSignUpCreateAccount:hover {
    background-color: #ff8400;
}

.passwordContainerCreateAcount {
    position: relative;
}

.passwordIconCreateAcount {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

#password {
    padding-right: 10px;
}

.passwordIconCreateAcount.visible path {
    fill: none;
    stroke: #ff8400;
    stroke-width: 2px;
}