#header_places {
	background: url('./ddd.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 90% 90% / 20%;
    margin-bottom: 40px;
  
}
#header_places .overlay_places{
	width: 100%;	
	height: 100%;
	padding: 55px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	padding-bottom: 155px ;
}

.titel_h1_places {
    margin-top: 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

.titel_h3_places,
.parg_places {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.Bt_2_places {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #ffffff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}

.Bt_2_places:hover {
    cursor: pointer;
    background-color: #0101ff;
    color: #ffffff;
  }
