.navbar {

  width: 100%;
  background-color: transparent !important;
  transition: background-color 0.3s ease-in-out;


}

.navbar:hover {
  background-color: rgba(255, 255, 255, 0.8);
}




.main-page-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}





.search-container {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;

  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover>.search-input {
  width: 400px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

.search-container .search-btn .fas {
  color: #5cbdbb;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }

  25% {
    transform: skew(5deg, 5deg);
  }

  75% {
    transform: skew(-5deg, -5deg);
  }

  100% {
    transform: skew(0deg, 0deg);
  }
}

.search-container:hover {
  animation: hoverShake 0.15s linear 3;
}


.mainpage-header1 {
  font-size: 70px;
  font-style: oblique;
  color: white;
  text-align: center;

  position: relative;
  margin-top: 50px;

}


.sign-in {

  color: whitesmoke;
  margin-right: 17px;
  margin-top: 7px;



}

.sign_up {
  align-items: center;
}

.nav_pages {

  color: whitesmoke;


}


.main_logo {
  width: 80px;
  height: 80px;
  display: flex;
  /* Enables flexbox */
  justify-content: center;
  /* Centers content horizontally */
  align-items: center;
  /* Centers content vertically */
  margin-top: -5px;
}

.profile-logo {


  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 190px;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
}




.profile-nav-item {
  margin-left: auto;
}

.navbar-collapse {
  justify-content: space-between;

}


@media (max-width: 992px) {
  .profile-nav-item {
    margin-left: 0;
    padding-right: 15px;
  }
}