.SecondNavbar {
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.LogoSecondNavbar .logoImage-Navbar {
    width: 50px;
    border-radius: 50%;
}

.LinksRouter {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.LinksRouter .SecondNavbar-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.LinksRouter .SecondNavbar-link:hover {
    color: rgb(222, 168, 62);
    text-decoration: underline;
}

.profileSecondNavbar .profileImage-Navbar {
    width: 30px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .SecondNavbar {
        flex-direction: column;
    }

    .LinksRouter {
        margin-top: 0;
    }

    .LinksRouter .SecondNavbar-link {
        padding: 8px 10px;
        font-size: 14px;
    }

    .profileSecondNavbar .profileImage-Navbar {
        width: 25px;
    }
}

.profileSecondNavbar {
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 190px;
}

.IconProfileSecondNavbar {
    background: none;
    border: none;
    cursor: pointer;
}