.profileBackgroundsaleh {
    width: 100%;
    max-height: 400px;
    border-radius: 4px 4px 4px 4px;
}

.menuAmeer {
    position: relative;
    top: 40px;
    padding: 30px;
    background: #e8e8f3;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, 0.2),
                inset 7px 7px 15px rgba(55, 84, 170, 0),
                inset -7px -7px 20px rgba(255, 255, 255, 0),
                0px 0px 4px rgba(255, 255, 255, 0);
}

.menuAmeer::before,
.menuAmeer::after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
}

.menuAmeer::before {
    transform: rotate(0deg);
}

.menuAmeer::after {
    transform: rotate(-90deg);
}

.menuAmeer.open::before {
    transform: rotate(45deg);
}

.menuAmeer.open::after {
    transform: rotate(-45deg);
}

.menuAmeer-button {
    display: flex;  
    align-items: center;  
    justify-content: center;  
    padding: 10px;  
    border-radius: 50%;
    cursor: pointer;
    background: #e8e8f3;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
    z-index: -1;
}


.menuAmeer-button:hover {
    transform: scale(1.1);
}

.menuAmeer.open .menuAmeer-button {
    opacity: 1;
    pointer-events: auto;
}

.menuAmeer.open .menuAmeer-button:first-of-type {
    bottom: 40px;
    right: 70px;
}

.menuAmeer.open .menuAmeer-button:nth-of-type(2) {
    bottom: 80px;
    transition-delay: 0.05s;
}

.menuAmeer.open .menuAmeer-button:last-of-type {
    bottom: 40px;
    right: -70px;
    transition-delay: 0.1s;
}